body{
    
    margin: 45px 40px;
    padding: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/*body Grid system*/

.grid{
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr;

    
}




/*left Side Grid*/



.leftnav{
    display: grid;
    grid-template-columns: 1fr;
}


/*leftnav(sidebar) Link edit*/


a{
    text-decoration: none;
    color: black;
}


/*main content grid= class = featured.*/


.featured{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
   
}

.featured > img{
    max-width: 100%;
}

/*for the leftside bar, *sticky*/



.stickyside{
    position: sticky;

    top: 0;
    height: 180px;
    width: 100%;
}


/*for the leftside bar = list-style-type and the margin*/

ul, li{
  list-style-type: none;
}

/* i want the logo image and nav button to be in a straight line*/


.leftnav{
    margin: 3%;
    position: relative;
}

.nav{
    position: absolute;
    top: 120px;
    right: 105px;
    
}

/*animation for the nav button*/

.projects{
    color: #000;
    cursor: pointer;
    transition: 1ms;

}

.projects:hover{
    color: #c2c0b4;
}



.about{
    color: #000;
    cursor: pointer;
    transition: 1ms;
}

.about:hover{
    color: #c2c0b4;
}


.about:active{
    color: #c2c0b4;
}

.contact{
    color: #000;
    cursor: pointer;
    transition: 1ms;
}

.contact:hover{
    color: #c2c0b4;
}

.contact:focus{
    color: #c2c0b4;
}


/*stylig the socials*/

.socials{
    position: absolute;
    top: 705px;
    right: 99px;
}

/*when a particular nav button is clicked*/



/*about statement brief*/

.myself{
    text-align: center;
    font-size: 25px;
    margin-top: 280px;
   
    
    
}


/*profile picture*/

.aboutpic{
    justify-self: end;
    margin-right: 60px;
}







/*media*/

@media screen and (min-width: 1128px){
    .grid{
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 50px;
    }
}

